

.contenido-table{
    padding: 15px;
    border: 2px solid rgba(0, 128, 128, 0.157);
    width: 98%;
    height: 87%;

    
    .table-main{
        height: 65vh;
        //border: 2px solid springgreen;
    }
    
  
    .table-page{
        border: 1px solid red;
        padding: 1rem;
        button{
            width: 110px;
            margin-right: 2rem;
            color: #410a44;
        }
    }
}


.tb-option{
    button{
        width: 40px;
        height: 40px;
        margin: 0 0.5rem 0 0;
    }
}


.tb-header{
    
    tr{
        th:nth-child(1){
            width: 5%;
        }
        th:nth-child(2){
            width: 20%;
        }
        th:nth-child(3){
            width: 15%;
        }
        th:nth-child(4){
            width: 10%;
        }
        th:nth-child(5){
            width: 10%;
            //letter-spacing: 0.5rem;
        }
        th:nth-child(6){
            width: 12%;
            text-align: center;
            letter-spacing: 1.2rem;
        }
    }
}

.tb-body{
    overflow-y: scroll;

    height: 60%;
    position: fixed;
    width: 68%;
    //border: 2px solid red;


    tr{

        td:nth-child(1){
            width: 5%;
            
        }
        td:nth-child(2){
            width: 20%;
        }
        td:nth-child(3){
            width: 15%;
        }
        td:nth-child(4){
            width: 10%;
        }
        td:nth-child(5){
            width: 10%;
        }
        td:nth-child(6){
            width: 12%;
        }
    }

}

.contenido-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
    .db{
        font-size: 10rem;
        color: #4ca6a6;
    }
    .db-text{

        p{
            font-size: 35px;
            letter-spacing: 1.3rem;
        }
        i{
            color: #2d6363 ;
        }
    }
}

.pg-title{
    display: flex;
    flex-direction: row;

    div i{
        font-size: 2.5rem;
        padding-right: 2rem;
    }
    div p{
        font-size: 2rem;
    }

}