
<app-estado-id uid="" contenido="Listado del los Clientes" [view]="false" *ngIf="table.length > 0" ></app-estado-id>
<div class="contenido-table" *ngIf="table.length > 0"  >

    <div class="table-main"  >
        
        <table class="table table-striped table-sm">
            <thead class="tb-header table-light" >
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" *ngFor="let he of header" >{{ he.camponame }}</th>                    
                    <th scope="col">OPCIONES</th>
                </tr>
            </thead>
            <tbody class="tb-body">
                <tr *ngFor="let num of table; let i = index" >
                    <td >{{ (i+1) }}  </td>
                    <td >{{ num.campo1 }}</td>
                    <td>{{ num.campo2 }}</td>
                    <td>{{ num.campo3 }}</td>
                    
                    <td class="tb-option"  >
                        <button type="button" class="btn btn-outline-info rounded-circle btn-table" 
                        (click)="onDetalle(num.uid!)">
                            <i class="fas fa-info"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-circle btn-table"
                            (click)="onEditar(num.uid!)">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger rounded-circle btn-table"
                            (click)="onDelete(num.uid!)">
                            <i class="far fa-trash-alt"></i>
                        </button>


                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="table-page" >
        <button (click)="onPageNegativa()" type="button" class="btn btn-light">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button type="button" class="btn btn-primary">
            Page <span class="badge bg-secondary">{{ count.page }}</span>
          </button>
        <button (click)="onPagePositiva()" type="button" class="btn btn-light">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div> -->
    
</div>


<div class="contenido-msg" *ngIf="table.length == 0"  >
    <div class="db" >
        <i class="fas fa-database"></i>
    </div>
    <div class="db-text" >
        <p> No existen {{ namePage }} 
            <i class="fas fa-users"></i>
        </p>
    </div>


</div>