<div *ngIf="seleccion == 0" >
    <app-inicio-page></app-inicio-page>
</div>

<div class="cliente-opciones " >
    <!-- List -->

    <div class="pg-cliente" *ngIf="seleccion == 1">
        <app-grid-data title="Listado de Atenciones de cliente" [header]="header"
            [table]="atencion" *ngIf="atencion.length > 0">
        </app-grid-data>    
    </div>
    
    <!-- Create -->
    <div *ngIf="seleccion == 2" >        
        <app-form-atencion titulo="Editar Cliente" ></app-form-atencion>
    </div >
    <!-- Update -->
    <div *ngIf="seleccion == 3" >
        <app-delete-msg iconclass="far fa-times-circle" ></app-delete-msg>
    </div>
    <!-- Detalle -->
    <div *ngIf="seleccion == 4" >
        <app-detalle-atencion></app-detalle-atencion>
    </div>
    <!-- Delete -->
    <div *ngIf="seleccion == 5"   >
       <app-delete-msg></app-delete-msg>
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-fussion" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>