<div *ngIf="seleccion == 0" >
    <app-inicio-page [menunum]="3" ></app-inicio-page>
</div>

<div class="cliente-opciones " >
    <!-- List -->

    <div class="pg-cliente" *ngIf="seleccion == 1">
        <app-grid-data title="Listado de Atenciones de cliente" [header]="header"
            [table]="atencion" namePage="Atenciones" [menu]="menu">
        </app-grid-data>    
        <div class="table-page">
            <button type="button" class="btn btn-outline-info"
             (click)="onPageAnterior()" >
                <i class="fas fa-arrow-left"></i>
            </button>
    
            <button type="button" class="btn btn-outline-primary">
                Pagina <span class="badge bg-secondary">{{ page }}</span>
            </button>
    
            <button type="button" class="btn btn-outline-info"
             (click)="onPageSiguiente()" >
                <i class="fas fa-arrow-right"></i>
            </button>
            
        </div>
    </div>
    
    <!-- Create -->
    <div *ngIf="seleccion == 2" >        
        <app-form-atencion titulo="Editar Cliente" ></app-form-atencion>
    </div >
    <!-- Update -->
    <div *ngIf="seleccion == 3" >
        <app-delete-msg iconclass="far fa-times-circle" ></app-delete-msg>
    </div>
    <!-- Detalle -->
    <div *ngIf="seleccion == 4" >
        <app-detalle-atencion></app-detalle-atencion>
    </div>
    <!-- Delete -->
    <div *ngIf="seleccion == 5"   >
       <app-delete-msg></app-delete-msg>
    </div>
</div>

<ng-snotify></ng-snotify>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-fussion" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>