<div class="detalle-box" >
    <div>
        <p class="titulo">
            Detalle del Cliente
        </p>
    </div>
    <div class="card">
        <div class="card-title" >
            <h5>Nombre: Mario Manuel Martinez Montes</h5>
            <hr>
        </div>
        <div class="card-division" >
            <div class="card-left">
                <i class="fas fa-user-tag"></i>
            </div>
            <div class="card-rigth">
                <p class="card-text"><b>Identificacion:</b> 0926113010 </p>
                <p class="card-text"><b>Identificacion:</b> 0926113010 </p>
                <p class="card-text"><b>Identificacion:</b> 0926113010 </p>
                <p class="card-text"><b>Identificacion:</b> 0926113010 </p>
                <p class="card-text"><b>Identificacion:</b> 0926113010 </p>
                <p class="card-text"><b>Identificacion:</b> 0926113010 </p>
                <p class="card-text"><b>Identificacion:</b> 0926113010 </p>
            </div>
        </div>
    </div>

</div>
