<div class="detalle-box">
  <app-estado-id [uid]="uid" [contenido]="titulo" [view]="true" ></app-estado-id>

  <div class="card">
    <div class="card-title">
      <h5>{{ cliente.nombres }}</h5>
    </div>
    <hr />
    <div class="card-division">
      <div class="card-left">
        <i [ngClass]=" estado ? 'fas fa-user-tag ': 'fas fa-user-tag text-danger'  "></i>
      </div>
      <div class="card-rigth">
        <p class="card-text"><b>Nombre:</b> {{ cliente.nombres! }}</p>
        <p class="card-text"><b>Apellidos:</b> {{ cliente.apellidos! }}</p>
        <p class="card-text"><b>Identidad:</b> {{ cliente.identificacion }}</p>
        <p class="card-text"><b>Telefono:</b> {{ cliente.telefono }}</p>
        <p class="card-text"><b>Email:</b> {{ cliente.email }}</p>
        <p class="card-text"><b>Direccion:</b> {{ cliente.direccion }}</p>
        <p class="card-text">
          <b>Nacimiento:</b> {{ cliente.fechanacio! | date }}
        </p>
      </div>
    </div>
    <div class="btn-detalle" *ngIf="!estado" >
      <button (click)="onDelete()" class="btn btn-outline-danger">  <i class="fas fa-trash"></i> Eliminar </button>
    </div>
  </div>
</div>
