
.detalle-box{
    padding: 2rem;
   .titulo{
        font-size: 2.1rem;
    }
 

    .card{

        margin-top: 0.8rem;

        padding: 2rem;
        .card-division{
            width: 100%;    
            display: flex;
            flex-direction: row;
            // justify-content: center;
            // align-items: center;
            
            .card-left{
                width: 40%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                i{
                    color: #4ca6a6;
                    font-size: 8rem;
                }
            }
            .card-rigth{
                width: 50%;
                margin-bottom: 0.5rem;
            }
        }
    }

}

.btn-detalle{
    padding: 1rem;
    button{

        width: 120px;
        height: 40px;
    }
}