<div class="sub-menu-option" >
    <div class="body">

        <div (click)="cmbClick(0)" id="sub-0" class="a"  >
            <i class="fas fa-th-list"></i>
            
        </div>
        <div (click)="cmbClick(1)" id="sub-1" class="a" >
            <i class="fas fa-plus"></i>
            
        </div>
        <div (click)="cmbClick(2)"  id="sub-2" class="a"  >
            <i class="far fa-edit"></i>
            
        </div>
        <div (click)="cmbClick(3)" id="sub-3" class="a" >
            <i class="far fa-trash-alt"></i>
            
        </div>
    </div>
</div>
