<div *ngIf="seleccion == 0" >
    <app-inicio-page [menunum]="2"  titulo="Citas" ></app-inicio-page  >
</div>

<div class="cliente-opciones " >
    <!-- List -->

    <div class="pg-cliente" *ngIf="seleccion == 1">
        <app-lista-citas [citas]="citas" ></app-lista-citas>
    </div>
    
    <!-- Create -->
    <div *ngIf="seleccion == 2" >
        <app-form-cita titulo="Nuevo Cliente" ></app-form-cita>
    </div >
    <!-- Update -->
    <div *ngIf="seleccion == 3" >
        <app-delete-msg></app-delete-msg>
    </div>
    <!-- Detalle -->
    <div *ngIf="seleccion == 4" >
        <app-detalle-cita></app-detalle-cita>
    </div>  
    <!-- Delete -->
    <div *ngIf="seleccion == 5"   class="delete-box" >
        <app-detalle-cita [estado]="false" ></app-detalle-cita>
       
    </div>

   


</div>

<ng-snotify></ng-snotify>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-fussion" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


