
.form-cita{
    padding: 2rem;
    form{
        margin-top: 1rem;
        .form-btn{
            padding: 1rem;
            //border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    div button{
        width: 130px;
        height: 40px;
        margin-left: 1rem;
    }

}