

.pg-cliente{
    //border: 2px solid blue;
    height: 100%;
    padding: 5px;
    .pg-title{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
    }

    .table-page{
        width: 98%;
        border: 1px solid #ff000026;
        padding: 1rem;
        button{
            width: 110px;
            margin-right: 2rem;
            color: #410a44;
        }
    }
}

.cliente-opciones{
    transition: 5s;
    div{
        transition: 5s;
    }
}

// .table-page{
//     button{
//         width: 110px;
//         margin-right: 2rem;
//     }
// }

.delete-box{
    //border: 2px solid orangered;
    padding-bottom: 1rem;
    div{
        button{
            width: 120px;
            height: 40px;

        }
        padding: 1rem;
        padding-left: 2rem;
    }
}