<div *ngIf="seleccion == 0" >
    <app-inicio-page [menunum]="1"  titulo="Cliente" ></app-inicio-page>
</div>

<div class="cliente-opciones " >
    <!--
    <app-estado-id [uid]="uidS$ | async " [contenido]="titulo" [view]="true" ></app-estado-id>
    -->
    
    <!-- List -->
    <div class="pg-cliente" *ngIf="seleccion == 1">
       <app-lista-clientes [clientes]="clientes"   ></app-lista-clientes>
    </div>
    
    <!-- Create -->
    <div *ngIf="seleccion == 2" >
        <app-form-cliente titulo="Nuevo Cliente" ></app-form-cliente>
    </div >
    <!-- Update -->
    <div *ngIf="seleccion == 3" >
        <app-form-cliente titulo="Editar Cliente" ></app-form-cliente>
    </div>
    <!-- Detalle -->
    <div *ngIf="seleccion == 4" >
        <app-detalle-cliente [uid]="uid" ></app-detalle-cliente>
    </div>
    <!-- Delete -->
    <div *ngIf="seleccion == 5"  class="delete-box" >
        <app-detalle-cliente titulo="Eliminar Cliente" [estado]="false" ></app-detalle-cliente>
       
    </div>
</div>

<ng-snotify></ng-snotify>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-fussion" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>