<div class="form-main-cli" >
    
    <app-estado-id [uid]="uid" [contenido]="namecontenido" [view]="true" ></app-estado-id>
    <hr>

    <form [formGroup]="entidadForm" (ngSubmit)="onSubmit()"  class="form-body-cli" >
        <app-input-form type="text" id="nombres" name="Nombres"
        label="nombres"
        [formulario] ="entidadForm"
        placeholder="Agrega sus nombres" ></app-input-form>

        <app-input-form type="text" id="apellidos" name="Apellidos"
        [formulario]="entidadForm" label="apellidos"
        placeholder="Agrega sus apellidos" ></app-input-form>

        <app-input-form type="text" id="identificacion" name="Identidad"
        [formulario]="entidadForm" label="identificacion"
        placeholder="Agrega su Identidad" ></app-input-form>

        <app-input-form type="text" id="telefono" name="telefono"
        [formulario]="entidadForm" label="telefono"
        placeholder="Agrega su Telefono" ></app-input-form>

        <app-input-form type="text" id="email" name="Email"
        [formulario]="entidadForm" label="email"
        placeholder="Agrega sus correo" ></app-input-form>

        <app-input-form type="text" id="direccion" name="Direccion"
        [formulario]="entidadForm" label="direccion"
        placeholder="Agrega sus lugar donde localizarlo" ></app-input-form>

        <app-input-form type="date" id="fechanacio" name="Fecha"
        [formulario]="entidadForm" label="fechanacio"
        placeholder="Agrega sus dia mes año? nació" ></app-input-form>

        <div class="form-btn">
            <button type="submit" class="btn btn-outline-success"
            *ngIf="uid.length == 0"    
            >Guardar</button>

            <button type="submit" class="btn btn-outline-success"
            *ngIf="uid.length > 0"  
            >Actulizar</button>

            <button type="button" class="btn btn-outline-secondary">Borrar</button>
        </div>
        
    </form>
</div>
