<div class="detalle-box" >
    <app-estado-id [uid]="uid" contenido="Detalle de la atencion" [view]="true" ></app-estado-id>

    <div class="card">
        <div class="card-title" >
            <h5>{{atencion.idcliente?.nombres! 
                +" "+atencion.idcliente?.apellidos }}</h5>
            <hr>
        </div>
        <div class="card-division" >
            <div class="card-left">
                <i class="fas fa-headset"></i>
            </div>
            <div class="card-rigth"  >
                <p class="card-text"><b>Cliente:</b> 
                    {{atencion.idcliente?.nombres! 
                    +" "+atencion.idcliente?.apellidos }} </p>
                <p class="card-text"><b>Descripcion:</b> {{atencion.fecha}} </p>
                <p class="card-text"><b>Fecha:</b> {{atencion.fecha!}} </p>
                <p class="card-text"><b>Hora:</b> {{atencion.hora}} </p>
                <div class="detalle-service" >
                    <b>Servicios Antendidos</b>
                    <div *ngFor="let servicio of servicios" >
                        <i class="fas fa-cart-plus"></i>
                        <label for=""> {{ servicio.nombre! |uppercase}} </label>
                    </div>
                </div>        
            </div>
        </div>
        <!-- <div class="card-box-btn" >
            <button (click)="onChangeCita(atencion,'Asistio')" type="button" class="btn btn-outline-secondary">Asistio</button>
            <button (click)="onChangeCita(atencion,'No asistio')" type="button" class="btn btn-outline-secondary">Anular</button>
        </div> -->
    </div>

</div>

